---
import Layout from '../layouts/Layout.astro';
import CareerComponent from '../components/Career/Career.jsx';
---

<Layout title="Parcours · Clément Latzarus · développeur web">
	<main>
		<CareerComponent />
	</main>
</Layout>
