---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clément Latzarus · développeur web">
	<main>
		<div>
			<p>
				dévoreur de livres
				<br />
				amateur de chat
				<br />
				papa poule
				<br />
				conteur du soir
				<br />
				mais aussi
				<strong>
					développeur web
				</strong>{' '}
				à Paris.<br />
			</p>
			<p>
				Actuellement{' '}
				<strong>
					pas
				</strong>{' '}
				en recherche d'emploi,<br /> mais{' '}
				<a
					href="https://www.linkedin.com/in/clemlatz/"
					target="_blank"
					rel="noopener noreferrer"
				>
					restons en contact
				</a>
				!
			</p>
		</div>
	</main>
</Layout>
