---
import Layout from '../layouts/Layout.astro';
---

<style>
  .text {
    margin: 16px auto;
    max-width: 768px;
  }
</style>

<Layout title="Clément Latzarus · développeur web" canonicalUrl="/">
  <div class="text">
    <h1>Hello <span aria-hidden="true">👋</span></h1>
    <p>
      Je suis <strong>développeur web</strong> depuis 2013, suite à une reconversion professionnelle, après avoir
      travaillé plusieurs années en librairie et dans l'édition.<br/>
    </p>
    <p>
      Depuis 2008, je maintiens <a href="https://biblys.fr">Biblys</a>, un logiciel libre qui a pour vocation de
      gérer facilement un site ecommerce pour un catalogue de livres, et vendre en ligne des livres papier et
      numérique. Il est utilisé aujourd'hui pour une quinzaine de maisons d'éditions et librairie indépendantes.
    </p>
    <p>
      Parallèlement, je suis employé à temps partiel chez <a href="https://pix.fr">Pix</a>, le service public pour
      évaluer, développer et certifier ses compétences numériques. J'y ai occupé notamment les rôles de Lead
      Developer, manager, référent accessibilité et développeur web fullstack.
    </p>
    <p>
      Sur ce site, vous pourrez
      en apprendre plus sur moi grâce à ma <a href="/bio">bio détaillée</a>,
      lire <a href="/blog">mon blog</a>,
      tout savoir sur <a href="/career">mon parcours professionnel</a>,
      découvrir <a href="/projects">mes projets personnels</a>
      et <a href="/contact">me contacter</a> !
    </p>
    <p>
      Actuellement, <strong>je ne suis pas</strong> en recherche d'emploi, mais
      <a
          href="https://www.linkedin.com/in/clemlatz/"
          target="_blank"
          rel="noopener noreferrer"
      >
        restons en contact
      </a>
      !
    </p>
  </div>
</Layout>
