---
import Layout from '../layouts/Layout.astro';
import LinksComponent from '../components/Links/Links.jsx';
---

<Layout title="Liens · Clément Latzarus · développeur web">
	<main>
		<LinksComponent />
	</main>
</Layout>
