---
import './Header.css';
const currentPath = new URL(Astro.request.url).pathname;
---

<header class="Header">
  <div class="Header__title">
    <h1 class="title">
      <a href="/">Clément Latzarus</a>
    </h1>

    <p class="tagline">
      a.k.a.{' '}
      <a
          href="https://github.com/clemlatz"
          target="_blank"
          rel="noopener noreferrer"
      >
        clemlatz
      </a>{' '}
      · développeur web
    </p>
  </div>

  <nav class="Header__navigation">
    <ul>
      <li>
        <a class={currentPath.startsWith("/blog") ? "active" : ""} href="/blog">blog</a>
      </li>
      <li>
        <a class={currentPath.startsWith("/career") ? "active" : ""} href="/career">
          parcours
        </a>
      </li>
      <li>
        <a class={currentPath.startsWith("/projects") ? "active" : ""} href="/projects">
          projets
        </a>
      </li>
      <li>
        <a class={currentPath.startsWith("/links") ? "active" : ""} href="/links">
          liens
        </a>
      </li>
      <li>
        <a href="/contact">
          contact
        </a>
      </li>
    </ul>
  </nav>
</header>
