.Header {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.Header .title {
  font-size: 3em;
  margin: 0.5em 0 0;
}

.Header .title a {
  border: 0;
}

.Header .tagline {
  margin: 0 0 1em;
}

.Header .navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header .navigation li a {
  border-bottom: 1px dashed black;
  font-size: 2em;
  opacity: 0.5;
  margin-right: 0.25em;
  transition: opacity 250ms;
}

.Header .navigation li a.active,
.Header .navigation li a:hover {
  color: black;
  border-style: solid;
  opacity: 1;
}

.Header .navigation a {
  border: 0;
}
