.Header .title {
  font-size: 3em;
  margin: 0.5em 0 0;
}

.Header .title a {
  border: 0;
}

.Header .tagline {
  margin: 0 0 1em;
}

.Header .navigation ul {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 1.25em;
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.Header .navigation li {
  margin-right: 0.25em;
}

.Header .navigation li:first-child {
  margin-left: 0.25em;
}

.Header .navigation li::after {
  content: '·';
  margin-left: 0.25em;
}

.Header .navigation li:last-child::after {
  display: none;
}

.Header .navigation li a {
  /* border-bottom: 1px dashed black; */
  opacity: 0.5;
  transition: opacity 250ms;
}

.Header .navigation li a.active,
.Header .navigation li a:hover {
  color: black;
  /* border-style: solid; */
  opacity: 1;
}

.Header .navigation a {
  border: 0;
}
