.Footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1em;
  padding-top: 5px;
  text-align: center;
}

.Footer .locale {
  border-bottom: 0;
  opacity: 0.5;
}

.Footer .locale.active,
.Footer .locale:hover {
  color: black;
  opacity: 1;
}
