.Experience {
  margin-bottom: 20px;
}

.Experience .title {
  margin: 0 0 3px;
}

.Experience .year {
  opacity: .75;
  padding-right: 15px;
}

.Experience .tags {
  margin-top: 5px;
}

.Experience .tag {
  font-size: .9em;
  opacity: .6;
  padding-right: 5px;
}
