.Experience {
  margin: 20px 0;
}

.Experience .title {
  margin: 0 0 3px;
}

.Experience .year {
  opacity: 0.75;
  padding-right: 15px;
}

.Experience .tags {
  margin-top: 5px;
}

.Experience .tag {
  font-size: 0.9em;
  opacity: 0.6;
  padding-right: 5px;
}
