@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 15px;
  max-width: 680px;
}

.App a {
  border-bottom: 1px dashed black;
  color: black;
  text-decoration: none;
}

.App .site-title {
  font-size: 3em;
  margin: .5em 0;
}
